<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/indstyle.css">
</head>
<body>
    <div class="container">
        <h1>Book your flight</h1>
        <div class="button-container">
            <h3>Login as:</h3>
            <form action="/userlogin">
                <button class="btn" type="submit">User</button>
            </form>
            <form action="/adminlogin">
                <button class="btn" type="submit">Admin</button>
            </form>
        </div>
    </div>
</body>
</html>
