<!DOCTYPE html>
<html>
<head>
    <title>Flight Search</title>
    <link rel="stylesheet" type="text/css" href="/static/adminstyle.css">
</head>
<body>
    <form class="home-button" action="/userdash">
        <input type="submit" value="Dashboard"/>
    </form>    
    <div class="container">
    <h1>Flight Search</h1>
    <form method="POST" action="/search">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="departure">Departure:</label>
        <input type="text" id="dept" name="dept" required><br><br>

        <label for="destination">Destination:</label>
        <input type="text" id="dest" name="dest" required><br><br>

        <label for="Nos">Number of Seats:</label>
        <input type="text" id="nos" name="nos" required><br><br>

        <button type="submit">Search Flights</button>
    </form>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">{{messages[0]}}</div>
        {% endif %}
    {% endwith %}
</body>
</html>
