<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/adminstyle.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, User!</h1>
        <nav>
            <ul>
                <li><a href="/search">Book Ticket</a></li>
                <li><a href="/mybook">My Bookings</a></li>
                <li><a href="/userlogin">Logout</a></li>
            </ul>
        </nav>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">{{messages[0]}}</div>
        {% endif %}
    {% endwith %}
</body>
</html>
