<!DOCTYPE html>
<html>
<head>
    <title>View Bookings</title>
    <link rel="stylesheet" type="text/css" href="/static/adminstyle.css">
</head>
<body>
    <form class="home-button" action="/admindash">
        <input type="submit" value="Dashboard"/>
    </form>
    <div class="container">
        <h1>View Bookings</h1>
        <form action="/view" method="POST">
            <label for="flightno" class="addcon" >Flight Number:</label>
            <input type="text" id="flightno" name="flightno" required><br><br>
            
            <label for="date" class="addcon" >Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            
            <label for="time" class="addcon" >Time:</label>
            <input type="time" id="time" name="time" required><br><br>
            
            <input type="submit" value="View Bookings">
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">{{messages[0]}}</div>
        {% endif %}
    {% endwith %}
</body>
</html>
